@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Montserrat:ital@0;1&display=swap');

@mixin fontAka($size, $weight){
    font-weight: $weight;
    font-size: $size;
    font-style: normal;
  }