@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Akaya+Kanadaka&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Aoboshi+One&family=Arapey:ital@0;1&family=Are+You+Serious&family=Beau+Rivage&family=Bebas+Neue&family=My+Soul&family=Mystery+Quest&display=swap');


@mixin font($size, $weight){
    font-weight: $weight;
    font-size: $size;
    font-style: normal;
}
